:root {
  --day-number-hover-color: #d1d5db;
}
.date-box {
  background: #fff;

  flex-direction: column;
  justify-content: center;
  flex: 1 1 0%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.date-box:last-child {
  border-right: 0;
}

.date-box > .day-number-container {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.date-box > .day-number-container > .day-number {
  color: var(--text-dark);
  font-size: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  text-align: center;
  background-color: #fff;
}

.date-box > .day-number-container > .day-number:hover {
  background-color: var(--day-number-hover-color);
  cursor: pointer;
}
